.app {
  width: 100%;
  margin: 1rem 10rem;
}

.game-header {
  display: flex;
  justify-content: space-between;
}

.game-container {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(180,110,0,1);
  border: 10px solid black;
  border-radius: 6px;
  margin-top: 40px;
  padding: 15px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .sidebar {
    float: right;

    .score-container:after {
      content: "Score";
    }

    .level-container:after {
      content: "Level";
    }

    .score-container,
    .level-container {
      position: relative;
      background: #bbada0;
      padding: 15px 25px;
      font-size: 25px;
      height: 25px;
      line-height: 47px;
      font-weight: bold;
      border-radius: 3px;
      color: white;
      margin-top: 8px;

      &:after {
        position: absolute;
        width: 100%;
        top: 10px;
        left: 0;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 13px;
        text-align: center;
        color: #eee4da;
      }
    }
  }

  &.season-spring {
    border-color: #15a128;
    .season-circle {
      background-color: #15a128;
      circle {
        fill: #15a128;
      }
    }
  }

  &.season-fall {
    border-color: #663300;
    .season-circle {
      background-color: #663300;
      circle {
        fill: #663300;
      }
    }
  }

  &.season-summer {
    border-color: #eded34;
    .season-circle {
      background-color: #eded34;
      circle {
        fill: #eded34;
      }
    }
  }

  &.season-winter {
    border-color: #c4fdff;
    .season-circle {
      background-color: #c4fdff;
      circle {
        fill: #c4fdff;
      }
    }
  }

  .season-circle {
    margin: 0 auto;
    transform: rotate(-90deg);
    background: #ddd;
    border-radius: 50%;
    display: block;

    circle {
      fill: #ddd;
      stroke: rgba(0,0,0,0.4);
      stroke-width: 50;
      stroke-dasharray: 0 158;
      transition: stroke-dasharray 1s linear;
    }

    &.season-switch {
      border: 1px solid blue;

      circle {
        transition: none !important;
      }
    }
  }
}



// .game-intro .subtitle {
//   font-size: 1em;
//   margin: 0;
// }

// .game-intro .restart-button {
//   background: #8f7a66;
//   border-radius: 3px;
//   padding: 0 20px;
//   border: none;
//   color: #f9f6f2;
//   height: 40px;
//   line-height: 42px;
//   display: block;
//   text-align: center;
//   float: right;
//   font-size: 18px;
//   outline: none;
//   cursor: pointer;
// }

// .game-container .game-message {
//   display: block;
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background: rgba(238, 228, 218, .5);
//   z-index: 100;
//   text-align: center;
//   animation: fade-in 800ms ease 1200ms;
//   animation-fill-mode: both;
// }

// .game-container .game-message.game-won {
//   background: rgba(237, 194, 46, .5);
//   color: #f9f6f2;
// }

// .game-container .game-message p {
//   font-size: 60px;
//   font-weight: bold;
//   height: 60px;
//   line-height: 60px;
//   margin-top: 222px;
// }

// .game-container .game-message .actions {
//   display: block;
//   margin-top: 59px;
// }

// .game-container .game-message .retry-button {
//   font-size: 18px;
//   display: inline-block;
//   background: #8f7a66;
//   border: none;
//   border-radius: 3px;
//   padding: 0 20px;
//   color: #f9f6f2;
//   height: 40px;
//   line-height: 42px;
//   outline: none;
//   cursor: pointer;
// }

.important {
  text-transform: uppercase;
}

.loading-bar {
  display: block;
  width: 100%;
  border: 1px solid black;
  height: 10px;

  span {
    height: 100%;
    display: block;
    background-color: white;
  }
}