.cell {
  display: table-cell;
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  padding: 7px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cell span {
  opacity: 1;
  transition: opacity 1s;
  display: block;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* .cell:last-child {
  margin-right: 0;
} */

.cell-type-0 span {
}

.cell-type-1 span {
  background-image: url('http://pngimg.com/uploads/sunflower/sunflower_PNG13401.png');
}

.cell-type-2 span {
  background-image: url('http://pngimg.com/uploads/acorn/acorn_PNG37007.png');
}

.cell-type-3 span {
  background-image: url('http://pngimg.com/uploads/green_leaves/green_leaves_PNG3678.png');
}

.cell-type-4 span {
  background-image: url('http://pngimg.com/uploads/snowflakes/snowflakes_PNG7545.png');
}

.cell-type-5 span {
  background-image: url('https://img.pngio.com/toadstool-png-hd-transparent-toadstool-hdpng-images-pluspng-toadstool-png-3251_3825.png');
}

.cell-type-6 span {
  background-color: lime;
}

.cell-type-7 span {
  background-color: brown;
}

.cell-type-8 span {
  background-color: orange;
}

.cell-special-borg span {
  border: 2px solid black;
}

.cell-special-gold span {
  border: 2px solid gold;
}

.cell-status-booming span {
  transition: opacity .3s;
  opacity: 0;
}

.cell-status-filling span {
  transition: opacity 1s;
  opacity: 1;
}

.cell-status-targeted span {
  background-color: rgba(255,255,255,0.5);
}

.cell:hover {
  /* outline: 1px solid grey; */
  /* z-index: 1000; */
}