.cell {
  /* box-sizing: border-box; */
  display: table-cell;
  text-align: center;
  font-size: 55px;
  background-color: rgba(238, 228, 218, .35);
  font-weight: bold;
  /* border-radius: 3px; */
  width: 50px;
  height: 50px;
  /* padding-right: 15px;
  padding-bottom: 15px; */
  padding: 7px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cell span {
  opacity: 1;
  transition: opacity 1s;
  display: block;
  border-radius: 100%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cell:last-child {
  margin-right: 0;
}

.cell-type-0 span {
}

.cell-type-1 span {
  background-image: url('https://library.kissclipart.com/20180918/wtq/kissclipart-rock-sprite-png-clipart-clip-art-4bb24258a61cdb99.jpg');
}

.cell-type-2 span {
  background-image: url('https://www.clipartmax.com/png/middle/4-43475_christmas-pine-clipart-pinecone-clipart.png');
}

.cell-type-3 span {
  background-image: url('https://banner2.cleanpng.com/20180419/oyw/kisspng-computer-icons-leaf-clip-art-lotus-leaves-5ad93eb2412372.0423555215241868022668.jpg');
}

.cell-type-4 span {
  background-image: url('https://banner2.cleanpng.com/20180405/aie/kisspng-snowflake-ice-crystals-ice-crystals-snowflake-5ac6ae16b3bb17.6102365215229701347362.jpg');
}

.cell-type-5 span {
  background-color: violet;
}

.cell-type-6 span {
  background-color: lime;
}

.cell-type-7 span {
  background-color: brown;
}

.cell-type-8 span {
  background-color: orange;
}

.cell-special-borg span {
  border: 2px solid black;
}

.cell-special-gold span {
  border: 2px solid gold;
}

.cell-status-booming span {
  transition: opacity .3s;
  opacity: 0;
}

.cell-status-filling span {
  transition: opacity 1s;
  opacity: 1;
}

.cell-status-targeted {
  background-color: white;
}

.cell:hover {
  outline: 1px solid grey;
  z-index: 1000;
}