.menu-icon {
    height: 100px;
    width: 100px;
    background-image: url('https://image.flaticon.com/icons/png/512/40/40031.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.menu-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 29999;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}

.menu {
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 30000;
    padding: 4rem;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
}

.menu.menu-visible {
    visibility: visible;
}

.menu ul {
    margin: 0;
    padding: 0;
}